[Unit]
Description=Assignment 2 from prog2005 at NTNU
Documentation=https://git.gvk.idi.ntnu.no/course/prog2005/prog2005-2021-workspace/denniskr/assignment-2/-/blob/main/readme.md
After=network.target

[Service]
Type=simple
ExecStart=/home/fedora/server
Environment=PORT=3000 GOOGLE_APPLICATION_CREDENTIALS="/home/fedora/service-account-key.json"
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
